* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  font-size: 1.2rem;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right, #d8a8a8, #98498a);
  overflow: hidden;
}

/* .logo-area {
  display: flex;
} */

nav {
  width: 80%;
  display: flex;
  z-index: 1;
  margin: 20px auto;
  position: sticky;
  align-items: center;
  font-weight: 550;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul {
  list-style: none;
}
.nav-links ul li {
  display: inline;
  padding: 0 2rem;
}

.logo-area {
  flex-basis: 20%;
  display: flex;
  align-items: center;
}

.logo {
  width: 20%;
  height: 20%;
  margin-right: 12px;
}
