* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

.main {
  font-size: 1.2rem;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right, #d8a8a8, #98498a);
  overflow: hidden;
  position: relative;
}

/* .logo-area {
  display: flex;
} */

nav {
  width: 80%;
  display: flex;
  z-index: 1;
  margin: 20px auto;
  position: sticky;
  align-items: center;
  font-weight: 550;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul {
  list-style: none;
}

.nav-links ul a {
  font-weight: 600;
  text-decoration: none;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.nav-links ul a:hover {
  color: #b3b669;
}

.nav-links ul li {
  display: inline;
  padding: 0 2rem;
}

.logo-area {
  flex-basis: 20%;
  display: flex;
  align-items: center;
}

.logo {
  width: 20%;
  height: 20%;
  margin-right: 12px;
}

.information {
  width: 1000px;
  height: 1000px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: -30%;
  transform: translateY(-50%);
}

#circle {
  width: 1000px;
  height: 1000px;
  background: #731515;
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 0;
}

.feature {
  position: absolute;
  color: white;
  display: flex;
}

.feature img {
  width: 70px;
}

.feature div {
  margin-left: 20px;
}

.feature div a {
  margin-top: 8px;
}

.one {
  top: 450px;
  right: 70px;
}

.two {
  top: 150px;
  left: 340px;
}

.three {
  bottom: 450px;
  left: 50px;
}

.four {
  bottom: 150px;
  right: 370px;
}

.pc {
  width: 400px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 37%;
}

.control {
  position: absolute;
  top: 50%;
  right: 15%;
}
